[Unit]
Description=Conky System Monitor for X
After=graphical.target

[Service]
Type=simple
ExecStart=%h/.config/conky/startconky.sh
Environment="DISPLAY=:0"
Restart=always

[Install]
WantedBy=default.target