#!/usr/bin/env xdg-open
[Desktop Entry]
Exec=konsole -e zellij-runner
Name=konsole -e zellij-runner
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
